services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: aurral-backend-dev
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - LIDARR_URL=${LIDARR_URL:-http://lidarr:8686}
      - LIDARR_API_KEY=${LIDARR_API_KEY}
      - LASTFM_API_KEY=${LASTFM_API_KEY}
      - CONTACT_EMAIL=${CONTACT_EMAIL:-user@example.com}
      - DEBUG=${DEBUG:-true}
      - AUTH_PASSWORD=${AUTH_PASSWORD}
    volumes:
      - ./backend/data:/app/data
    networks:
      - aurral-network-dev
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - SETUID
      - SETGID
      - CHOWN

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: aurral-frontend-dev
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - aurral-network-dev
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      - NET_BIND_SERVICE

networks:
  aurral-network-dev:
    driver: bridge

